/* grid for desktop and mobile device */
.container {
    height: 100%;
    display: grid;
    grid-gap: 28px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 5);
    /* mobile container design */
    grid-template-areas: 
        "he" 
        "as"
        "ar"
        "se"
        "fo";
}
.header { grid-area: he; }
.aside { grid-area: as; }
.article { grid-area: ar; }
.section { grid-area: se; }
.footer { grid-area: fo; }

/* as soon as viewport width is higher than 768px */
@media only screen and (min-width: 768px) {
    .container {
        height: 100%;
        display: grid;
        grid-gap: 28px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 70px 240px 240px 40px;
        /* desktop container design */
        grid-template-areas: 
            "he he he he he he he he he he he he" 
            " . . as as as as  . ar ar ar  .  . "
            " . . as as as as  . se se se  .  . "
            "fo fo fo fo fo fo fo fo fo fo fo fo";   
    }
    .header { grid-area: he; }
    .aside { grid-area: as; }
    .article { grid-area: ar; }
    .section { grid-area: se; }
    .footer { grid-area: fo; }
} /* loc easter egg: the answer to the ultimate question of life */
